.footer {
    margin-top: 233px;

    .footer-nav {
        display: flex;
        align-items: center;
        background-color: #ED9747;
        height: 50px;

        .menu-list {
            display: flex;
            // ẩn dấu chấm ul
            list-style-type: none;
            margin: 0 auto;

            &__item {
                font-weight: 600;
                font-size: 28px;
                color: #fff;
                text-decoration: none;
                margin: 0 50px 0 50px;
            }
            &__item:hover {
                color: rgb(0, 0, 0);
            }
        }
    }

    &__link {
        width: 100%;
        height: auto;
        max-height: 237px;
        background: #515151;
        color: #fff;

        .link-grid {
            display: grid;
            position: relative;
            grid-template-columns: auto 227px;
            padding: 10px;
            margin-right: 115px;

            &__col {
                font-size: 30px;
                margin: 0 15px;
            }

            .last-col {
                max-width: 227px;
                margin-right: 10%;
                &__inf {
                    font-weight: 500;
                    font-size: 20px;
                }

                &__contact {
                    font-weight: 600;
                    font-size: 28px;
                }
            }
        }
    }

    &__author {
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #A1C96F;
        position: relative;

        .author-detail {
            right: 115px;
            position: absolute;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
        }
    }
}
@media (max-width:768px) {
    .footer{
        .footer-nav{
            display: none;
        }
    }
}