.header {

    .group-banner {
        display: flex;
        align-items: flex-end;

        &__img {
            width: 1440px;
            height: 362px;
        }

        &__title {
            /* ORANGE */
            position: absolute;
            width: 1440px;
            height: 261px;
            font-weight: 800;
            font-size: 96px;
            line-height: 116px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.15em;
            color: #FFFFFF;

        }

        @media (max-width: 1500px) {
            &__img {
                width: 100vw;
                height: auto;
            }
            &__title {
                width: 100vw;
                height: 40vh;
            }
        }
    }

    &__menu {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 10px;

        .menu-list {
            display: flex;
            list-style-type: none;
            margin-left: 90px;

            &__item {
                font-weight: 600;
                font-size: 28px;
                margin: 0 50px;
                color: #000;
                text-decoration: none;
            }
        }

        .header-search {
            position: absolute;
            margin: auto 115px;
            right: 0px;

            &__box {
                width: 258px;
                height: 43px;
                padding-left: 15px;
                border: 0.4px solid #f1f1f1;
                filter: drop-shadow(5px 5px 10px #c4c4c4);
                border-radius: 18px;
                font-size: 24px;
                font-weight: 400;
            }

            // chỉnh ouline "input" khi forcus
            &__box:focus {
                outline: 0.4px;
            }
        }

        @media (max-width:1250px) {
            .header-search {
                margin: 0;
            }
        }
    }
}